/* ================================== || General Styles || ================================== */
* {
  box-sizing: border-box;
  font-family: cursive;
  margin: 0;
}
:root {
  --primary-color: #efefef;
  --secondary-color: rgb(255, 255, 255);
  --dark-color: rgb(203, 190, 171);
}
header {
  padding: 0.5rem;
  width: 100%;
  height: 10vh;
  min-height: 5rem;
  background-color: var(--dark-color);
}
body {
  background-color: rgb(143, 127, 127);
}

section {
  height: 90vh;
  min-height: 20rem;
  margin: 2.5rem;
  padding: 1.5rem;
  background-color: var(--primary-color);
}
footer {
  padding: 0.5rem;
  height: 10vh;
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
}
/* ===== || TEXT STYLING || ===== */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
a,
a:link {
  text-decoration: none;
  font-weight: bold;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
code {
  font-family: monospace;
}

li {
  list-style: none;
}
iframe {
  border: none;
  padding-bottom: 1rem;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
iframe::-webkit-scrollbar {
  display: none;
}

/*===== || BUTTONS || ===== */
.button {
  background-color: rgb(106, 180, 255);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  max-width: 10rem;
}
/* ================================== || Utilities || ================================== */

/* ===== || Animations ||  ===== */
.animate-fade {
  position: relative;
  animation: animatefade 0.4s;
}
@keyframes animatefade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* ================================== || Sitewide || ================================== */
/* IMAGES */
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: radial-gradient(
      circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      100px 100px,
    linear-gradient(#444cf7 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #444cf7 8px, #e5e5f7 8px) -4px 0;
  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
  border: 1px solid black;
}
/* ===== || grid layouts || ===== */

.layout-bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: 100%;
  gap: 0.5em 0.5em;
  justify-content: center;
  align-content: center;
}
.layout-bar__title {
  grid-column: span 6;
}
.layout-bar__nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-self: end;
  grid-column: span 3;
}
.layout-bar__menu {
  display: contents;
}
.layout-bar__menu__item {
  justify-self: center;
}
.layout-body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5em 0.5em;
  grid-auto-flow: row;
}
.layout-body__column-30 {
  grid-column: span 3;
  grid-row: span 6;
}
.layout-body__column-40 {
  grid-column: span 4;
  grid-row: span 6;
}
.layout-body__column-50 {
  grid-column: span 5;
  grid-row: span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layout-body__column-60 {
  grid-column: span 6;
  grid-row: span 6;
}
.layout-body__card {
  grid-column: span 5;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.layout-body__gallery {
  grid-column: span 5;
  grid-row: span 3;
}
.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
}
.layout-body__center-column {
  grid-area: 1 / 4 / 7 / 8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.layout-body__center-column__half {
  grid-area: 1 / 4 / 3 / 8;
}
.contact_form {
  grid-area: 3 / 4 / 7 / 8;
}
.layout__center-grid {
  justify-items: center;
  align-items: center;
}
/* ===== || Sections || ===== */
.hero {
  width: 100%;
  height: 95vh;
  margin: 0;
  padding: 0;
}
.sub-hero {
  height: 60vh;
}
.body-showcase {
  height: 80vh;
}
.body-cards {
  min-height: 35rem;
}
.body-gallery {
  min-height: 35rem;
}
.body-contact {
  height: 80vh;
  min-height: 34rem;
}
/* ================================== || Components || ================================== */
/* ===== || display card - DP-Card || ===== */
.dp-card {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}
.dp-card:hover .dp-card__overlay {
  opacity: 1;
}
.dp-card__overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


/* ===== || display card tabs || ===== */
.tabs__menu {
  background-color: bisque;
}
.tabs__button {
  background-color: brown;
  border-radius: 0px;
}
.tabs__button:active {
  background-color: aqua;
}
.tabs__button--active {
  font-weight: bold;
  background-color: blueviolet;
}
.tabs__content {
  display: none;
}
.tabs__content--active {
  display: block;
  height: 100%;
  width: 100%;
  background-color: darkgray;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.tabs__content--active::-webkit-scrollbar {
  display: none;
}
/* ===== || Contact-form || ===== */
.contact-form {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form__header {
  font-weight: bold;
}

.contact-form__info {
}

.contact-form__email {
}

.contact-form__message {
}

.contact-form__submit-button {
}
